<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<table border="1" cellspacing="" cellpadding="">
			<tr>
				<th>Header</th>
				<th>data</th>
			</tr>
			<tr>
				<td>id:</td>
				<td>{$result.id}</td>
			</tr>
			<tr>
				<td>type</td>
				<td>{$result.type}</td>
			</tr>
			<tr>
				<td>status</td>
				<td>{$result.status}</td>
			</tr>
			<tr>
				<td>score</td>
				<td>{$result.score}</td>
			</tr>
			<tr>
				<td>title</td>
				<td>{$result.title}</td>
			</tr>
			<tr>
				<td>account</td>
				<td>{$result.account}</td>
			</tr>
			<tr>
				<td>name</td>
				<td>{$result.name}</td>
			</tr>
			<tr>
				<td>email</td>
				<td>{$result.email}</td>
			</tr>
			<tr>
				<td>address</td>
				<td>{$result.address}</td>
			</tr>
			<tr>
				<td>create_time</td>
				<td>{$result.create_time}</td>
			</tr>
		</table>
		<h3>{$result1.score}</h3>
	</body>

</html>