<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <table>
            <tr>
                <td>id:</td>
                <td>{$data.id}</td>
            </tr>
            <tr>
                <td>标题:</td>
                <td>{$data.title}</td>
            </tr>
            <tr>
                <td>内容:</td>
                <td>{$data.content}</td>
            </tr>
            <tr>
                <td>id:</td>
                <td>{$data.id}</td>
            </tr>
        </table>
    </body>
</html>
